/* general styles */
body {
  font-family: Georgia, serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
  font-weight: 700;
  line-height: 1.2;
}

p {
  font-size: 1.2rem;
  font-weight: 300;
}

em {
  font-style: italic;
}

strong {
  font-weight: 700;
}

.btn {
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  transform: scale(1.05);
}

/* header styles */
header {
  background-color: #e2ece9  ;
  padding: 0rem;
}

nav ul {
  display: flex;
  justify-content: space-around;
  margin: 0;
  padding: 0;
}

nav li {
  list-style: none;
}

nav a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

/* main content styles */
main {
  background-color: #e2ece9          ;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  
}

.box {
  display: flex;
  flex-wrap: wrap;
  max-width: max-content;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f0e8d8 ;
  border-radius: 8px;
}

section {
  flex: 1;
  margin: 1rem;
  
}

h2 {
  margin: 0;
  font-size: 2rem;
  
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

/* footer styles */
.footer {
  background-color: #e2ece9 ;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.footer img {
  margin: 0 0.5rem;
  height: 30px;
  

}
/* Fade in animation for new arrivals section */
.new-arrivals {
opacity: 0;
animation: fadeIn 1s ease-in-out forwards;
animation-delay: 0.2s;
}

@keyframes fadeIn {
from {
  opacity: 0;
  transform: translateY(50px);
}
to {
  opacity: 1;
  transform: translateY(0);
}
}

/* Slide in animation for menu section */
.menu {
opacity: 0;
animation: slideIn 1s ease-in-out forwards;
animation-delay: 0.2s;
}

@keyframes slideIn {
from {
  opacity: 0;
  transform: translateX(-50px)}
to {
  opacity: 1;
  transform: translateX(0);
}
}

/* Bounce animation for featured products section */
.featured-products li {
opacity: 0;
animation: slideIn 1s ease-in-out forwards;
animation-delay: 0.2s;
}
.featured-products h2 {
  opacity: 0;
  animation: slideIn 1s ease-in-out forwards;
  animation-delay: 0.2s;
}
@keyframes slideIn {
from {
  opacity: 0;
  transform: translateY(20px);
}
to {
  opacity: 1;
  transform: translateY(0);
}

}
a {
  text-decoration: none;
  color: rgba(255, 94, 0, 0.582);
  display: inline-block;
  border: 0px  #555;
  border-radius: 5px;
  padding: 10px;
  margin-right: 10px;
  transition:  0.3s ease;
  animation-delay: 0.2s;
}

a:hover {
  background-color: #555;
  color: #fff;
}
.animated {
  opacity: 0;
  transform: translateY(50px);
  animation: fadeInUp 1s ease-out 0.5s forwards;
}


.box.animate {
    opacity: 0;
  transition: opacity 0.5s ease-in-out;
}


  
 
      